// Fonte 'Inter'

// Regular (peso 100 a 900, normal)
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// Italic (peso 100 a 900, itálico)
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}